---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<AstroSeo
			title="Turismo Mar y Sol"
			description="Turismo Mar y Sol, Nuestra agencia de turismo se especializa en crear itinerarios personalizados que te permiten explorar las maravillas de Argentina a tu propio ritmo. Ya sea que estés interesado en acampar en Santa Teresita o disfrutar de las atracciones de Villa Carlos Paz, nuestro equipo de expertos locales está listo para acompañarte en cada paso del camino. Desde los impresionantes paisajes de Tandil, Buenos Aires, hasta la relajación en las termas de Entre Ríos, y desde la majestuosidad de Bariloche hasta la belleza de la costa atlántica, ofrecemos una amplia variedad de destinos y experiencias únicas."
			canonical="https://turismomarysol.com.ar/"
			openGraph={{
				url: 'https://turismomarysol.com.ar/',
				title: 'Turismo Mar y Sol.',
				description: 'Turismo Mar y Sol, Nuestra agencia de turismo se especializa en crear itinerarios personalizados que te permiten explorar las maravillas de Argentina a tu propio ritmo. Ya sea que estés interesado en acampar en Santa Teresita o disfrutar de las atracciones de Villa Carlos Paz, nuestro equipo de expertos locales está listo para acompañarte en cada paso del camino. Desde los impresionantes paisajes de Tandil, Buenos Aires, hasta la relajación en las termas de Entre Ríos, y desde la majestuosidad de Bariloche hasta la belleza de la costa atlántica, ofrecemos una amplia variedad de destinos y experiencias únicas.',
				images: [
				{
					url: 'https://cdn.discordapp.com/attachments/894606077176475648/1170134522520678480/images.png',
					width: 800,
					height: 600,
					alt: 'Turismo Mar y Sol',
					type: 'image/png',
				},
				{
					url: 'https://scontent-eze1-1.xx.fbcdn.net/v/t39.30808-6/307377912_1192498421307885_7909272879772676472_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHx8OEK2keOizkaF_drRdpBTC97nkUbPfJML3ueRRs98lTSDfAvUHXW9iyFnns9N19qWdkOvQjDePPIqNocQyJ-&_nc_ohc=24XeQr1-lWkAX_tFg_b&_nc_ht=scontent-eze1-1.xx&oh=00_AfD9LnVDW5WkUNG4m1v8jk6gICeIZDMU7UkpftTggWhMAg&oe=654F33D1',
					width: 900,
					height: 800,
					alt: 'Turismo Mar y Sol',
					type: 'image/jpg',
				},
				{ url: 'https://turismomarysol.com.ar/avatar.jpg' },
				],
				site_name: 'Turismo Mar y Sol',
			}}
		/>

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/avatar.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Turismo Mar y Sol</title>
		<meta name="description" content="Turismo Mar y Sol, Nuestra agencia de turismo se especializa en crear itinerarios personalizados que te permiten explorar las maravillas de Argentina a tu propio ritmo. Ya sea que estés interesado en acampar en Santa Teresita o disfrutar de las atracciones de Villa Carlos Paz, nuestro equipo de expertos locales está listo para acompañarte en cada paso del camino. Desde los impresionantes paisajes de Tandil, Buenos Aires, hasta la relajación en las termas de Entre Ríos, y desde la majestuosidad de Bariloche hasta la belleza de la costa atlántica, ofrecemos una amplia variedad de destinos y experiencias únicas.">
		<meta name="author" content="Turismo Mar y Sol">
		<meta name="keywords" content="turismo, experiencias únicas, cultura, naturaleza, gastronomía, viajes personalizados, Patagonia, Mendoza, empresa familiar de turismo, turismo mar y sol">


	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
